body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #333;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background: #a164df;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  background: #663399;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.stop {
  background: crimson;
}
